<div th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

    <h2>Здравствуйте,
        <span sec:authorize="isAuthenticated()">
                  <span sec:authentication="name"></span>
              </span>
        <span sec:authorize="hasRole('ADMIN')"> Вы внатуре АДМИНИСТАТОР</span>


    </h2>
    <a href="/cars/home">Главная</a>
    <a href="/login">Войти</a>
    <a href="/registration">Зарегистрироваться</a>
    <a href="/cars/myorders">Мои заказы</a>
    <a href="/cars/admin/add" sec:authorize="hasRole('ADMIN')">Добавить ★ </a>
    <a href="/cars/admin/users" sec:authorize="hasRole('ADMIN')">Пользователи ★</a>
    <a href="/cars/admin/report" sec:authorize="hasRole('ADMIN')">Статистика ★</a>
    <a href="/logout">Выйти</a>
    <hr>
</div>
