<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:insert = "headBar.html::head"></div>
</header>
    <body>
        <p> Доступные марки:</p>
        <div th:each="brand : ${brands}" th:style="${'margin: 0 0 0 10%;'}">
            <a th:href="@{/cars/home/{brandId}(brandId=${brand.id})}">
                <button th:text="${brand.name}" th:style="${'padding: 20px;'}" ></button>
            </a>
        </div>
    </body>
</html>